# dependencies
node_modules/
.pnp
.pnp.js

# builds
dist/
.next/
out/
build/

# turbo
.turbo/

# env
.env
.env.local
.env.*.local
!.env.example

# logs
*.log
npm-debug.log*

# os / editor
.DS_Store
Thumbs.db
*.tsbuildinfo

# testing
coverage/
